@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  url('./assets/Quicksand/static/Quicksand-Regular.ttf')  format('truetype');
}